source https://api.nuget.org/v3/index.json
source https://ci.appveyor.com/nuget/milekic-yolo

storage: none

framework: auto-detect

nuget FSharp.Core
nuget FSharp.Data
nuget Milekic.YoLo storage: symlink
nuget GitInfo copy_local: true
nuget MailKit

// [ FAKE GROUP ]
group Build
    source https://api.nuget.org/v3/index.json
    storage: none

    framework: netstandard2.0

    nuget FSharpPlus
    nuget Fake.Api.GitHub
    nuget Fake.BuildServer.AppVeyor
    nuget Fake.BuildServer.GitHubActions
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.Tools.Git
