source https://api.nuget.org/v3/index.json
source https://ci.appveyor.com/nuget/milekic-yolo

storage: none

framework: auto-detect

nuget FSharp.Core
nuget FSharp.Data
nuget Milekic.YoLo
nuget MailKit
